# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Local stuff
*.log
*.dmg
